<template lang="pug">
nav.navbar.navbar-default.navbar-fixed-top

  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#app-header-navbar-collapse", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand {{appName}}

    #app-header-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Bundle
            span.caret
          ul.dropdown-menu
            li: a(@click="newBundle", href="#") New
            li: a(@click="openBundle", href="#") Open
            li.divider(role="separator")
            li(:class="{disabled: !isListDirty || fileName == null}"): a(@click="saveBundle", href="#") Save
            li: a(@click="saveBundleAs", href="#") Save As...
            li.divider(role="separator")
            li: a(@click="exportBundle", href="#") Export...
            li.divider(role="separator")
            li: a(@click="closeWindow", href="#") Exit
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") IR
            span.caret
          ul.dropdown-menu
            li: a(@click="addIR", href="#") Add IRs...
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Help
            span.caret
          ul.dropdown-menu
            li: a(@click="externalLink('http://helixhelp.com', $event)" href="#") Visit Helix Help
            li.divider(role="separator")
            li: a(href="#", data-toggle="modal" data-target="#help-modal") About {{appName}}
</template>

<script>
import { remote, shell } from 'electron'
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      appName: remote.app.getName()
    }
  },
  computed: mapState({
    isListDirty: state => state.isListDirty,
    fileName: state => state.fileName
  }),
  methods: {
    ...mapActions(['newBundle', 'openBundle', 'saveBundle', 'saveBundleAs', 'exportBundle', 'addIR']),
    externalLink: (url, event) => {
      if (event) event.preventDefault()
      shell.openExternal(url)
    },
    closeWindow: function (event) {
      if (event) event.preventDefault()
      let window = remote.getCurrentWindow()
      if (this.isListDirty) {
        remote.dialog.showMessageBox(
          {
            type: 'question',
            buttons: ['Yes', 'No'],
            message: 'Continue without saving?'
          },
          response => {
            if (response === 0) {
              window.close()
            }
          }
        )
      } else {
        window.close()
      }
    }
  }
}
</script>

<style lang="sass">
body
  padding-top: 70px
</style>