<template lang="pug">
.container: .row: .col-xs-12

  .well(v-if="items.length <= 0") Add an IR to get started.

  .panel.panel-default(v-if="items.length > 0")
    .panel-heading
      span IR List
      span.pull-right Drag columns to sort
    .panel-body.panel-body-sm
      .row
        .col-xs-12.text-right
          .checkbox: label
            input(type="checkbox", v-model="showFileNames")
            .
              Toggle File Names
    table.table.table-striped.table-hover.table-bordered
      thead
        tr
          th.number-column.text-right #
          th(v-if="!showFileNames") Name
          th(v-if="showFileNames") File Name
          th.select-column: span.sr-only Options
      tbody(v-sortable="{ onUpdate: updateListOrder }")
        tr(v-for="(key, item) in items")
          td.text-right {{key+1}}
          td(v-if="!showFileNames") {{item.name}}
          td(v-if="showFileNames"): small {{item.fileName}}
          td: button.btn.btn-default.btn-xs(@click="removeItem(key)") Remove
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState({
    items: state => state.list,
    isListDirty: state => state.isListDirty
  }),
  data: () => {
    return {
      showFileNames: false
    }
  },
  methods: {
    updateListOrder: function (event) {
      this.$store.dispatch('setListDirty')
      this.items.splice(event.newIndex, 0, this.items.splice(event.oldIndex, 1)[0])
    },
    removeItem: function (index) {
      this.$store.dispatch('setListDirty')
      this.items.splice(index, 1)
    }
  }
}
</script>

<style lang="sass" scoped>
.select-column,
.number-column
  width: 10px

.checkbox
  margin: 5px 0

.panel-body-sm
  padding: 5px 10px

tr
  &:hover td
    background: #ddd
  td
    cursor: move
</style>
