<template lang="pug">
#app
  app-header
  help-modal
  ir-list
  app-footer
</template>

<script>
import AppHeader from './components/AppHeader'
import IrList from './components/IrList'
import HelpModal from './components/HelpModal'
import AppFooter from './components/AppFooter'

export default {
  components: {
    AppHeader,
    IrList,
    HelpModal,
    AppFooter
  }
}
</script>

<style lang="sass">
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss"
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"
</style>
